<div>
    <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Develop Web Api in 5 mins</a>
    <h2>Node JS <small>We love open source technology stack</small></h2>
    <!--  <prettify target="organization"><pre><code class="prettyprint">console.log('{{target.message}}');
	            </code>
	        </pre>
	    </prettify> -->
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!</h1> We are in process of development of this website. We are bunch of geeks who have good experience on working with open-source software development. We want to share our knowledge with community so that we both learn and grow together.
            <br />
            <br />
            <p>
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" ui-sref="reports">Lets Get Started</a>
            </p>
        </div>
    </div>
    <div class="row" style="text-align:center;">
        <stats number="6" comments="Articles!" colour="primary" type="comments"></stats>
        <stats number="5" comments="Repository!" colour="primary" type="user"></stats>
    </div>
</div>
<!-- technoflash2 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7031440325912521" data-ad-slot="4192472295" data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
