<div style="width:70%">
    <!-- <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	 -->
    <h2>Node.js<small> Tutorials</small></h2>
    <span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div class="jumbotron" style="padding:10px;">
        <div class="container">
            <p>I have been using Node JS from couple of months and it’s amazing. It is very easy to get started and build application on Node.js. The most amazing thing about node is that it is all JavaScript. We all esp. @web developers have worked with JavaScript at some or other point of time. The awesomeness is that you get the goodness of JavaScript, to build scalable systems. Already Companies like UBER, NETFLIX, PAYPAL etc. have adopted Node JS in their technology stack.</p>
        </div>
    </div>
    <div class="container">
        <p>
            <h2>JumpStart to Web Api development in Node.js</h2>
            <!--  <ul>
                       <li></li>
                   </ul> -->
            <h3>1. Learn Web Api in 5 min <small>in Node.js using Express framework</small></h3>
            <h4>step by step tutorials for beginners</h4>
            <a ui-sref="tut1" class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
        </p>
    </div>
    <div class="container">
        <p>
            <h3>2. Connect with MySql database<small> in Node.js using Express framework</small></h3>
            <h4><a href="https://github.com/Jalaj-khajotia/NodeJsBookRepo">get all source code @ Github link</a></h4>
            <a ui-sref="tut2" class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
        </p>
    </div>
     <div class="container">
        <p>
             <h3>3. Connect with Mongo database using mongoose<small> in Node.js using Express framework</small></h3>
            <h4><a href="https://github.com/Jalaj-khajotia/nodejsMongo">get all source code @ Github link</a></h4>
            <a ui-sref="tut3" class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
        </p>
    </div>
      <div class="container">
        <p>
             <h3>4. Setup token based Authentication <small> in Node.js using Express framework</small></h3>
            <h4><a href="https://github.com/Jalaj-khajotia/node-authentication-exp">get all source code @ Github link</a></h4>
            <a ui-sref="tut4" class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
        </p>
    </div>
</div>

